@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


.nav_bar ul{
    display: flex;
    list-style: none;
    text-align: end;
    justify-content: flex-end;
    background-color:whitesmoke;
    /* padding: 10px: */
    
}


.nav_bar ul li{
padding: 20px;
}

.nav_bar ul li a{
    text-decoration: none;
    color:black;
}

.nav_bar ul li a:hover{
    background-color:blue;
    color: white;

    }
 
.text1, .text2, .text3{
    margin-bottom: 300px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

/*more information*/

.info{
background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("images/picc.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
margin-top: 50px;
color:white;
font-family: 'Oswald', sans-serif;

}
#R_t , .contact_h, .about{
     font-family: 'Oswald', sans-serif;
     margin-top: 20px;
}
 #info_t{
 padding-top: 180px;
 }

 .crd1{
    color: white;
    font-family: 'Oswald', sans-serif;

 }


 .crd1 ul li{
     color: black;
     font-family: 'Oswald', sans-serif;

 }

 /*footer*/

 .footer a{
    padding: 40px;
 }
.contact{
    background-color: grey;
    height: 50vh;
    color: white;
    padding-top:20px;
    
}
.contact_h{
    margin: 0% auto;
}

<<<<<<< HEAD
=======

>>>>>>> ee98f3fec58a95a32b2830eaff4f407ff3f17195
/* BOOK */

.log{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("images/g6.jpg");

}
.fom{
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}
